<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Inventory</title>
</head>
<body style="background-color: #333f3c;">
    <h1>AUTOMOBILE APPLICATION</h1>
    <a style="display: flex; justify-self: center; text-decoration: none; color: orange; font-weight: bold;" href="/sedans"> SEDAN VEHICLES INVENTORY</a>
    <br>
    <br>
    <a style="display: flex; justify-self: center; text-decoration: none; color: orange; font-weight: bold;" href="/suvs"> SUV VEHICLES INVENTORY</a>
    <br>
    <br>
    <a style="display: flex; justify-self: center; text-decoration: none; color: orange; font-weight: bold;" href="/trucks"> TRUCK VEHICLES INVENTORY</a>
</body>
</html>